body {
    text-align: center;
    font-family: "Muli";
    color: white;
    background-color: #6E6187;
  }
  

  #main {
    display: inline-block;
    text-align: center;
    margin-top: 25vh;
  }

  button {
    background-color: #638761;
    color: white;
    border: 2px solid #638761;

  }

  #weather {
    margin-top: 45px;
  }

  #weather > div {
    display: inline-block;
    padding: 5px;
  }


 canvas {
    width: 140px;
    height: 80px;
  }

  button, input[type=text]{
    font-family: "Muli";
  }